<!DOCTYPE html>
<html lang="en">
  <%- include("../includes/head") %>
  <link rel="stylesheet" href="/styles/forms.css">
  <link rel="stylesheet" href="/styles/products.css">
  <link rel="stylesheet" href="/styles/product-item.css">
  <body>
    <header><%- include("../includes/header") %></header>
    <main>
      <section class="admin_nav">
        <h1>Product Administration</h1>
        <ul>
          <li>
            <a href='/admin/add-product'>Add New Item</a>
          </li>
        </ul>
      </section>
      <section>
        <ul class="product-grid">
          <% for (const product of products) { %>
            <li>
              <%- include("includes/product-item", {product: product}) %>
            </li>  
          <% } %>
        </ul>
      </section>
    </main>
    
  </body>
</html>