<!DOCTYPE html>
<html lang="en">
<%- include("../includes/head") %>
<link rel="stylesheet" href="/styles/forms.css">
<body>
    <%- include("../includes/header")%>
    <main>
        <%- include("includes/product-form", {product: product, imageRequired: true}) %>
    </main>
    
</body>
</html>