<header id="main-header">
  <nav class="app__nav">
    <a id="app__logo" class="app-text" href="/">E-Commerce</a>
    <div id="modal">
      <%-include("./nav-items") %>
    </div>
    <button id="app__mobile-menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </nav>

</header>
<aside id="app__mobile-menu">
  <%-include("./nav-items") %>
</aside>

