<!DOCTYPE html>
<html lang="en">
  <%- include("includes/head") %>
  <body>
    <header><%- include("includes/header") %></header>
    <main>
      <section>
        <% for (const product of products) { %> <%-
        include("includes/product-item", {product: product}) %> <% } %>
      </section>
    </main>
  </body>
</html>
