<!DOCTYPE html>
<html lang="en">
  <%- include("../../shared/includes/head") %>
  <body>
    <header><%- include("../../shared/includes/header") %></header>
    <main>
      <div class="container">
        <h1 class="text-center m-4">All your orders</h1>
        <% if (orders.length === 0) { %>
        <p class="fs-4 text-danger text-center">
          You don't have any orders. Place an order and you can view it's status
          here.
        </p>
        <p class="text-center">
          <a class="btn btn-warning" href="/">Continue Shopping</a>
        </p>
        <% } else { %> <%- include("../../shared/includes/order-item", {orders:
        orders}) %> <% } %>
      </div>
    </main>
  </body>
</html>
