@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.item-management {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.item-management button,
i {
  margin: 0.5rem;
}
