.app__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(15, 71, 124);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
}
.app__nav a {
  text-decoration: none;
  margin: 0;
}
.app__nav a:hover {
  color: var(--button-hover-color);
}

#modal {
  display: none;
}
#app__nav-items {
  margin: 0;
}
#app__nav-items li {
  margin: 0 1rem;
}

.app__nav button {
  border-color: transparent;
  background-color: transparent;
}

.app__nav button:hover {
  color: var(--button-hover-color);
  cursor: pointer;
}

#app__mobile-menu-btn {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
}

#app__mobile-menu-btn:hover {
  cursor: pointer;
}
#app__mobile-menu-btn span {
  color: white;
  width: 2.2rem;
  border-bottom: 2px solid white;
  margin: 0.25rem 0;
}
#app__mobile-menu {
  position: fixed;
  top: 4rem;
  left: 0;
  height: calc(100vh - 4rem);
  width: 100%;
  background-color: var(--button-hover-color);
  flex-direction: column;
  align-items: center;
  display: none;
}

.show-menu {
  display: block !important;
}

#app__mobile-menu #app__nav-items {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}

#app__mobile-menu #app__nav-items a {
  text-decoration: none;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  main {
    margin-top: 0;
  }
  #modal {
    display: flex;
  }
  #modal #app__nav-items {
    list-style: none;
  }
  .app__nav {
    position: static;
  }
  #app__nav-items {
    display: flex;
  }
  #app__mobile-menu-btn {
    display: none;
  }
  #app__mobile-menu {
    display: none !important;
  }
  #app__logo {
    font-size: 1.4rem;
  }
  .app-text,
  .app__btn-alt {
    font-size: 1.1rem;
  }
}
