<!DOCTYPE html>
<html lang="en">
  <%- include("../includes/head") %>
  <body>
    <header><%- include("../includes/header") %></header>
    <main>
      <section>
        <div class="m-4 row row-cols-1 row-cols-md-4 g-4">
          <h1>All your Orders</h1>
        </div>
      </section>
    </main>
  </body>
</html>
