<!DOCTYPE html>
<html lang="en">
  <%- include("../../shared/includes/head", {title: 'All Products'}) %>
  <body>
    <header><%- include("../../shared/includes/header") %></header>
    <main>
      <section>
        <div class="m-4 row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <% for (const product of products) { %> <%-
            include("../../shared/includes/product-item", {product: product}) %>
            <% } %>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
