<!DOCTYPE html>
<html lang="en">
  <%- include("../../shared/includes/head", {title: 'Add a Product'}) %>
  <link rel="stylesheet" href="/styles/forms.css" />
  <body>
    <%- include("../../shared/includes/header") %>
    <main>
      <h1 class="text-center my-4">Add a New Item</h1>
      <form
        class="product-form my-0"
        action="/admin/add-product?_csrf=<%= locals.csrfToken %>"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="form-group my-2">
          <input
            class="form-control"
            type="text"
            id="name"
            name="name"
            required
          />
          <label for="productname"><b>Product Name</b></label>
        </div>
        <div class="form-group my-2">
          <input
            class="form-control"
            type="number"
            id="price"
            name="price"
            required
          />
          <label for="description"><b>Price</b></label>
        </div>

        <div class="form-group my-2">
          <input
            class="form-control"
            type="text"
            id="summary"
            name="summary"
            required
          />
          <label for="summary"><b>Summary</b></label>
        </div>
        <div class="form-group my-2">
          <textarea
            class="form-control"
            id="description"
            name="description"
            rows="10"
            required
          ></textarea>
          <label for="description"><b>Product Description</b></label>
        </div>
        <div class="form-group my-3">
          <input
            class="form-control"
            type="file"
            id="image"
            name="image"
            accept="image/*"
            required
          />
          <label for="image"><b>Product Image</b></label>
        </div>
        <button type="submit" class="btn btn-warning">Submit</button>
      </form>
    </main>
    <footer></footer>
  </body>
</html>
