<!DOCTYPE html>
<html lang="en">
  <%- include("../../shared/includes/head") %>
  <link rel="stylesheet" href="/styles/forms.css" />

  <body>
    <header><%- include("../../shared/includes/header") %></header>
    <main>
      <section class="admin_nav">
        <h1 class="text-center m-4">Product Administration</h1>

        <div class="text-center">
          <a class="text-dark btn btn-warning" href="/admin/add-product"
            >Add New Item</a
          >
        </div>
      </section>
      <section>
        <div class="m-4 row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <% for (const product of products) { %> <%-
            include("../../shared/includes/product-item", {product: product}) %>
            <% } %>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
