<!DOCTYPE html>
<html lang="en">
  <%- include("../../shared/includes/head", {title: 'Product Details (Admin)'})
  %>
  <link rel="stylesheet" href="/styles/forms.css" />
  <body>
    <%- include("../../shared/includes/header")%>
    <main>
      <%- include("includes/product-form", {product: product, imageRequired:
      true}) %>
    </main>
  </body>
</html>
